:root {
    --shadow: #250410 0px 1px 9px;
    --color-border: #f5e4e6;
    --text-color: #250410;
    --background-color: #fbf6f6;
    --primary: #250410;
    --primary-dark: #3a0a18;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------------------------Home.html Page-------------------------------------*/
.home_body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--text-color);
    background-image: url(/images/Fluid\ And\ Vibrant\ Abstract\ Watercolor\ Texture\ With\ Blue\ And\ Green\ Hues\,\ Liquid\ Paint\,\ Liquid\ Pattern\,\ Oil\ Texture\ PNG\ Transparent\ Image\ and\ Clipart\ for\ Free\ Download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home_main{
    background-color: var(--primary);
    margin: 70px auto;
    padding: 24px 0;
    width: 60%;
    border: 2px var(--primary) solid;
    border-radius: 10px 60px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; ;
}

.home_buttons{
    display: flex;
    flex-direction: column;
}

.home_register{
    background-color: var(--background-color);
    padding: 6px;
    border-radius: 8px;
    border: none;
    width: 200px;
    height: 35px;
    text-align: center;
    margin-bottom: 2rem;
    margin-right: 1rem;
}

.home_register a, .home_login a{
    text-decoration: none;
    color:var(--text-color);
    font-weight: bold;
}

.home_login{
    background-color: var(--color-border);
    padding: 6px;
    border-radius: 8px;
    border: none;
    width: 200px;
    height: 35px;
    text-align: center;
    margin-bottom: 2rem;
    margin-right: 1rem;
}

.home_register:hover, .home_login:hover{
    transform: translateY(-1.5px);

}

.home_main pre{
    margin-left: -12rem;
    font-size: 40px;
    color: #FEFCEF;
    text-shadow: 2px 2px;
}

.home_main img{
    margin-left: -1.5rem;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width:768px){
    .home_main{
        width: 80%;
    }
}


/*----------------------------------------------------------------------*/







/*---------------------------index.html Page----------------------------*/

.index-body {
    font-family: 'Lucida Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
} 

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: #ffffff;
    padding: 15px 25px;
}
.headline {
    font-size: 24px;
    font-weight: bold;
    color:#ffffff
}

.navbar h1 {
    font-size: 22px;
}

.navbar div {
    display: flex;
    gap: 12px;
}

.navbar a,
.navbar button {
    color: rgb(233, 228, 228);
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
}

.navbar a:hover,
.navbar button:hover {
    text-decoration: underline;
}

.index-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.create-post {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    background-color:black;
    padding: 20px;
    border-radius: 20px;
    
}

.create-post textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    resize: none;
    font-family: inherit;
}

.create-post button {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: var(--primary);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.create-post button:hover {
    background-color: rgba(255, 255, 255, 0.186) ;
}

#feed {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 600px;
}
.post{
    border-radius: 10px;
    box-shadow: var(--shadow);
    width:100%;
    height: 90px;
}
.post:hover {
    transform: translateY(-3px);
}

.post h3 {
    font-size: 16px;
    cursor: pointer;
}

.post p,.post small {
    padding: 5px;
    font-size: 14px;
    color: var(--text-color);
}


.post-actions {
    display: flex;
    gap: 10px;
    padding: 15px;
}

.post-actions button {
    padding: 6px 12px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 13px;
    transition: 0.2s;
}

.post-actions button:hover {
    background-color:#67182f;
}

.comment-box {
    display: flex;
    gap: 10px;
}

.comment-box input {
    flex: 1;
    padding: 6px 10px;
    border-radius: 12px;
    border: 1px solid var(--border-color);
}

.post small {
    font-size: 12px;
    color: #666;
}

footer {
    background-color: var(--text-color);
    color: var(--background-color);
    text-align: center;
    padding: 15px;
    margin-top: auto;
    box-shadow: var(--shadow);
}

.footer a {
    color: var(--background-color);
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    opacity: 0.8;
}

@media (max-width: 767px) {
    .navbar h1 {
        font-size: 18px;
    }

    .index-main {
        padding: 10px;
    }

    .create-post {
        padding: 15px;
    }
}
.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.post-options button {
    margin-left: 5px;
}


/*---------------------------logout.html Page----------------------------*/

/*---------------------------Profile.html Page----------------------------*/

.profile_body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: var(--background-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.profile_header {
    display: flex;
    padding: 20px;
    justify-content: left;
    gap: 20rem;
}

.profile_header h2 {
    color: var(--text-color);
    font-size: 20px;
    padding-top: 7px;
}

.profile_header button {
    border: none;
    font-size: 35px;
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
}

.profile_main {
    margin: 0 auto;
    padding: 24px 0;
    width: 90%;
    margin-left: -0.5rem;
}

.profile_aside {
    overflow-y: hidden;
}

.profile_aside img {
    background-position: center;
}

.profile_info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    gap: 1.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: var(--shadow);
}

.profile_info img {
    margin-bottom: -3rem;
}

.info_list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-right: 2rem;
    margin-left: 2rem;
}

.settings_list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.settings_list li {
    background-color: var(--color-border);
    padding: 6px;
    border-radius: 8px;
    width: 120px;
    height: auto;
    text-align: center;
    margin-bottom: 2rem;
    margin-right: 1rem;
}

.settings_list li a {
    text-decoration: none;
    color: var(--text-color);
}

#follow_button{
    background-color: var(--color-border);
    padding: 6px;
    border-radius: 8px;
    border: none;
    width: 120px;
    height: auto;
    text-align: center;
    margin-bottom: -0.5rem;
    margin-right: 1rem;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.posts {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: var(--shadow);
    margin-top: 2rem;
}

.posts h3 {
    text-align: left;
    padding: 20px;
    border-bottom: solid 1px #250410;

}

.posts h4 {
    text-align: center;
    padding: 20px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* this pushes footer down */
}

.footer {
    text-align: center;
    padding: 10px;
}


@media (max-width:767px) {
    .profile_main {
        margin: 0 auto;
    }

    .profile_header button {
        font-size: 25px;
    }


}
.more_btn {
    display: none;
    background-color: #fff;   /* White background */
    color: #555;               /* Dark text */
    border: 1px solid #ccc;    /* Light border */
    border-radius: 4px;
    padding: 3px 8px;
    cursor: pointer;
    font-size: 12px;
}

.delete-btn:hover {
    background-color: #f0f0f0; /* Slight gray on hover */
}

@media (min-width:768px) and (max-width:1023px) {
    .profile_main {
        margin-left: 2rem;
    }
}

/*-----------------------------------------------------------------------*/








/*------------------------------------editProfile.html Page-----------------------------------*/

.editProfile_body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--text-color);
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: var(--background-color);
}


.editProfile_main {
    margin: 0 auto;
    padding: 24px 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user_info input,
.user_info textarea {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: var(--shadow);
    border: 1px;
    border-radius: 8px;
}

.user_info form {
    display: flex;
    flex-direction: column;
}

input[type="submit"] {
    width: 80px;
    margin: 11px auto;
    border-radius: 8px;
    background-color: var(--text-color);
    color: var(--background-color);
    cursor: pointer;
}

input[type="submit"]:hover {
    transform: translateY(-2px);
}


.picture,
.picture form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.picture form input {
    margin-left: 5rem;
}

.editProfile_aside {
    overflow-y: hidden;
}

.editProfile_aside img {
    background-position: center;
}

.editProfile_header {
    margin-bottom: -5rem;
}

.editProfile_header button {
    border: none;
    font-size: 35px;
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
    margin-left: -9rem;
    margin-top: 12px;
}

@media (min-width:0px) and (max-width:1023px) {
    .editProfile_header button {
        margin-left: -1rem;
    }

    .editProfile_header {
        margin-bottom: -3.5rem;
    }
}

/*------------------------------------------------------------------------------------------------------*/









/*------------------------------------login.html & register.html Page-----------------------------------*/

.login-page, .register-page {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(/images/zedge.jpg);
    color: var(--text-color);
    min-height: 100vh;
    margin: 0;
}


.login-page,
.register-page {
    min-height: 100vh;
}

.login-main, .register-main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-container, .register-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 950px;
    width: 100%;
    background-color: var(--background-color);
    border-radius: 18px;
    overflow: hidden;
    box-shadow: var(--shadow);
}

.login-left, .register-left {
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--text-color);
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: var(--shadow);
}

.login-left h1, .register-left h1{
    margin: 0;
    font-size: 2.5rem;
}

.login-left p,.register-left p{
    margin: 0;
    font-size: 1.05rem;
    line-height: 1.6;
}

.login-card, .register-card {
    padding: 50px 40px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);

}

.login-card h2, .register-card h2{
    margin: 0 0 10px 0;
    font-size: 2rem;
    color: var(--text-color);
}

.subtitle {
    margin-bottom: 25px;
    line-height: 1.5;
    color: var(--text-color);
}

.login-form, .register-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 8px;
    font-weight: 600;
}

.form-group input{
    padding: 13px 14px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    transition: 0.3s ease;
    background-color: rgba(255, 255, 255, 0.5);
}

.form-group input:focus {
    border-color: var(--text-color);
    box-shadow: 0 0 0 3px rgba(37, 4, 16, 0.1);
}

.form-options{
    display: flex;
    align-items: center;
}

.checkbox-label {
   display: flex;
   padding: 10px;
   align-items: center;
   gap: 8px;
   font-size: 0.95rem;
   color: var(--text-color);
}

.login-btn, .register-btn {
    background-color: var(--text-color);
    color: var(--background-color);
    border: none;
    border-radius: 10px;
    padding: 14px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.login-btn:hover,
.register-btn:hover {
    transform: translateY(-2px);
}

.register-text, .login-text {
    padding: 10px;
   text-align: center;
   font-size: 0.95rem;
   color: var(--text-color);
}

.register-text a,
.login-text a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

.register-text a:hover,
.login-text a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    margin: 0;
    text-align: center;
    min-height: 20px;
}

@media (max-width: 767px) {
    .login-container,
    .register-container{
        grid-template-columns: 1fr;
    }

    .login-left,
    .register-left{
        text-align: center;
        padding: 35px 25px;
    }

    .login-left h1,
    .register-left h1{
        font-size: 2rem;
    }

    .login-card,
    .register-card{
        padding: 35px 25px;
    }
}